@font-face {
  font-family: Shrikhand;
  src: url(./polices/Shrikhand-Regular.otf);
}

@font-face {
  font-family: Roboto;
  src: url(./polices/Roboto-Regular.ttf);
}

/* mixins */
body {
  font-family: Roboto;
}

.Search {
  background-color: #f3f3f3;
  text-align: center;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.Titre {
  font-family: Shrikhand;
  text-align: center;
  border-bottom: 2px solid grey;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 0%;
  font-size: 3rem;
}

/* explorer nos restaurants */
.city {
  background: #d3d3d326;
}

.explorer {
  text-align: center;
  padding-bottom: 50px;
}

.explorer h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.explorer p {
  font-size: 1.5rem;
}

.explorer button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  margin-top: 20px;
}

.explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0.9;
}

/* partie fonctionnement */
.Fontionnement {
  margin-bottom: 60px;
}

.Fontionnement h3 {
  padding-left: 60px;
  margin-bottom: 25px;
}

.Fontionnement ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
}

@media (max-width: 881px) {
  .Fontionnement ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 30px;
  }
}

.Fontionnement ol li {
  background-color: #f2f2f2;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 35px;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.Fontionnement ol li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0.9;
}

.Fontionnement ol li:hover i {
  color: #9356DC;
}

.Fontionnement ol i {
  margin-right: 20px;
  padding-left: 20px;
  color: grey;
}

.Fontionnement span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-left: -20px;
}

/* Restaurants card */
.restaurant {
  background: #d3d3d326;
  margin-bottom: 2rem;
}

.restaurant h3 {
  padding-left: 60px;
  margin-bottom: 25px;
}

.restaurant a {
  text-decoration: none;
  color: black;
}

.restaurant .restaurant_card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 881px) {
  .restaurant .restaurant_card {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.restaurant .restaurant_card .descriptionCard {
  background-color: white;
}

.restaurant .restaurant_card .cardNouveau {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.restaurant .restaurant_card .cardNouveau h4 {
  margin: 0;
  padding-top: 0.5rem;
}

.restaurant .restaurant_card .cardNouveau p {
  margin: 0.5rem;
}

.restaurant .restaurant_card .cardNouveau i {
  position: absolute;
  right: 4rem;
  top: 88%;
}

.restaurant .restaurant_card .cardNouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 3rem;
  top: 1rem;
}

.restaurant .restaurant_card .imgCard1 {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

.restaurant .restaurant_card .imgCard2 {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

.restaurant .card {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.restaurant .card h4 {
  margin: 0rem;
  padding-top: 0.5rem;
}

.restaurant .card p {
  margin: 0.5rem;
}

.restaurant .card i {
  position: absolute;
  right: 4rem;
  top: 88%;
}

.restaurant .card .imgCard3 {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

.restaurant .card .imgCard4 {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

/* footer */
footer {
  background-color: #292727;
  padding-left: 35px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
}

footer h2 {
  font-family: Shrikhand;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */