@font-face {
  font-family: Shrikhand;
  src: url(./polices/Shrikhand-Regular.otf);
}

@font-face {
  font-family: Roboto;
  src: url(./polices/Roboto-Regular.ttf);
}

.city {
  background: #d3d3d326;
}

.Search {
  background-color: #f3f3f3;
  text-align: center;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
  padding-bottom: 50px;
}

.explorer h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.explorer p {
  font-size: 1.5rem;
}

.explorer button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  margin-top: 20px;
  cursor: pointer;
}

.explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0.9;
}

.Fontionnement {
  margin-bottom: 60px;
}

.Fontionnement h3 {
  padding-left: 60px;
  margin-bottom: 25px;
}

.Fontionnement ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
}

@media (max-width: 881px) {
  .Fontionnement ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 30px;
  }
}

.Fontionnement ol li {
  background-color: #f2f2f2;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 35px;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.Fontionnement ol li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0.9;
}

.Fontionnement ol li:hover i {
  color: #9356DC;
}

.Fontionnement ol i {
  margin-right: 20px;
  padding-left: 20px;
  color: grey;
}

.Fontionnement span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-left: -20px;
}

.restaurant {
  background: #d3d3d326;
  margin-bottom: 2rem;
}

.restaurant h3 {
  padding-left: 60px;
  margin-bottom: 25px;
}

.restaurant a {
  text-decoration: none;
  color: black;
}

.restaurant .restaurant_card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 881px) {
  .restaurant .restaurant_card {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.restaurant .restaurant_card .descriptionCard {
  position: relative;
  background-color: white;
}

.restaurant .restaurant_card .descriptionCard::before {
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 3rem;
  top: 15%;
  font-size: 2rem;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.restaurant .restaurant_card .descriptionCard::after {
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 3rem;
  top: 15%;
  font-size: 2rem;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  opacity: 0;
  color: transparent;
  font-weight: 900;
}

.restaurant .restaurant_card .descriptionCard:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.restaurant .restaurant_card .cardNouveau {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.restaurant .restaurant_card .cardNouveau h4 {
  margin: 0;
  padding-top: 0.5rem;
}

.restaurant .restaurant_card .cardNouveau p {
  margin: 0.5rem;
}

.restaurant .restaurant_card .cardNouveau .fas:hover {
  opacity: 1;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.restaurant .restaurant_card .cardNouveau .cardNouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 3rem;
  top: 1rem;
}

.restaurant .restaurant_card .cardNouveau .imgCard1 {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

.restaurant .restaurant_card .cardNouveau .imgCard2 {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

.restaurant .restaurant_card .card {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.restaurant .restaurant_card .card h4 {
  margin: 0rem;
  padding-top: 0.5rem;
}

.restaurant .restaurant_card .card p {
  margin: 0.5rem;
}

.restaurant .restaurant_card .card .fas:hover {
  opacity: 1;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.restaurant .restaurant_card .card .imgCard3 {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

.restaurant .restaurant_card .card .imgCard4 {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  border-radius: 15px 15px 0 0;
}

footer {
  background-color: #292727;
  padding-left: 35px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
  width: auto;
}

footer h2 {
  font-family: Shrikhand;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  margin-right: 10px;
}

.Titre {
  font-family: Shrikhand;
  text-align: center;
  border-bottom: 2px solid grey;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 0%;
  font-size: 3rem;
}

body {
  width: 95%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 3%;
  font-family: Roboto;
}

.headerResto {
  position: relative;
}

.headerResto i {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.banniere img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}

.restoName {
  border-radius: 25px 25px 0 0;
  margin-top: -90px;
  background-color: #f3f3f3;
  position: relative;
  padding-top: 10px;
  padding-bottom: 16px;
  width: 80%;
  left: 10%;
}

@media (max-width: 530px) {
  .restoName {
    width: 100%;
    left: 0;
  }
}

.restoName h2 {
  font-family: Shrikhand;
  position: relative;
}

.restoName h2::before {
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 3rem;
  top: 15%;
  font-size: 2rem;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.restoName h2::after {
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 3rem;
  top: 15%;
  font-size: 2rem;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  opacity: 0;
  color: transparent;
  font-weight: 900;
}

.restoName h2:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.restoMenu {
  background: #f3f3f3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 80%;
  position: relative;
  left: 10%;
}

@media (max-width: 1320px) {
  .restoMenu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 530px) {
  .restoMenu {
    position: relative;
    left: 2%;
    width: 100%;
  }
}

.restoMenu .delay0 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.restoMenu .delay1 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.restoMenu .delay2 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.restoMenu .delay3 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.restoMenu .delay4 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.restoMenu .delay5 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.restoMenu .delay6 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.restoMenu .delay7 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.restoMenu .delay8 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.restoMenu .delay9 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.restoMenu .menuGroupe {
  padding-left: 10px;
  padding-right: 10px;
}

.restoMenu .menuChoix {
  margin: 0;
  background: white;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  position: relative;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (max-width: 530px) {
  .restoMenu .menuChoix {
    width: 80%;
  }
}

@media (max-width: 410px) {
  .restoMenu .menuChoix {
    width: 70%;
  }
}

.restoMenu .menuChoix .menuDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  width: 80%;
}

@media (max-width: 410px) {
  .restoMenu .menuChoix .menuDescription {
    width: 70%;
  }
}

.restoMenu .menuChoix h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restoMenu .menuChoix .plat {
  margin-top: -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restoMenu .bordure {
  height: 5px;
  width: 60px;
  background: #99e2d0;
  margin-bottom: 10px;
  margin-top: -15px;
}

.restoMenu .menuPrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -70px;
  top: 0;
  padding-left: 0.5rem;
}

.restoMenu .menuPrix .prix {
  font-weight: 900;
  width: 50px;
}

.restoMenu .menuPrix .checkbox {
  background: #99e2d0;
  border-radius: 0 25px 25px 0;
  height: 86px;
  width: 70px;
  opacity: 0;
}

.restoMenu .menuPrix .checkbox .fa-solid {
  position: absolute;
  top: 30%;
  right: 15%;
  font-size: 2rem;
  color: white;
}

.restoMenu .menuChoix:hover .checkbox {
  opacity: 1;
  right: 0%;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.restoMenu .menuChoix:hover .menuPrix {
  right: 0%;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.restoMenu .menuChoix:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

@media (max-width: 1680px) {
  .restoMenu .menuChoix:hover .menuDescription {
    width: 60%;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
  }
}

@media (max-width: 1680px) and (max-width: 1413px) {
  .restoMenu .menuChoix:hover .menuDescription {
    width: 55%;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
  }
}

@media (max-width: 1680px) and (max-width: 435px) {
  .restoMenu .menuChoix:hover .menuDescription {
    width: 45%;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
  }
}

.restoMenu .order {
  height: 25vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: -45px;
}

.restoMenu .order .orderButton {
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  margin-top: 20px;
  cursor: pointer;
}

.restoMenu .order .orderButton:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0.9;
}

@-webkit-keyframes menuAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menuAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader .01s;
          animation: loader .01s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader .loaderItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader .loaderItems .loaderItems1 {
  background-color: #9356dc;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.loader .loaderItems .loaderItems2 {
  background-color: #ff79da;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  animation-delay: .25s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.loader .loaderItems .loaderItems3 {
  background-color: #99e2d0;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
/*# sourceMappingURL=style.css.map */