.headerResto {
  position: relative;
}

.headerResto i {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 50%;
  left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.banniere img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}

@media (max-width: 760px) {
  .banniere img {
    height: 45vh;
  }
}

.restoName {
  border-radius: 25px 25px 0 0;
  margin-top: -90px;
  background-color: #f3f3f3;
  position: relative;
  padding-top: 10px;
  padding-bottom: 16px;
  width: 80%;
  left: 10%;
}

@media (max-width: 530px) {
  .restoName {
    width: 100%;
    left: 0;
  }
}

.restoName h2 {
  margin-left: 15px;
  font-family: Shrikhand;
  position: relative;
}

.restoName h2::before {
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 1rem;
  top: 15%;
  font-size: 2rem;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.restoName h2::after {
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  right: 1rem;
  top: 15%;
  font-size: 2rem;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  opacity: 0;
  color: transparent;
  font-weight: 900;
}

.restoName h2:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.restoMenu {
  background: #f3f3f3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 80%;
  position: relative;
  left: 10%;
}

@media (max-width: 1320px) {
  .restoMenu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 530px) {
  .restoMenu {
    position: relative;
    left: 0;
    width: 100%;
  }
}

.restoMenu .delay0 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.restoMenu .delay1 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.restoMenu .delay2 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.restoMenu .delay3 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.restoMenu .delay4 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.restoMenu .delay5 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.restoMenu .delay6 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.restoMenu .delay7 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.restoMenu .delay8 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.restoMenu .delay9 {
  -webkit-animation: menuAppear 1s;
          animation: menuAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.restoMenu .menuGroupe {
  padding-left: 10px;
  padding-right: 10px;
}

.restoMenu .menuChoix {
  margin: 0;
  background: white;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  position: relative;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (max-width: 530px) {
  .restoMenu .menuChoix {
    width: 95%;
  }
}

@media (max-width: 410px) {
  .restoMenu .menuChoix {
    width: 98%;
    left: -1%;
  }
}

.restoMenu .menuChoix .menuDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  width: 80%;
}

@media (max-width: 410px) {
  .restoMenu .menuChoix .menuDescription {
    width: 70%;
  }
}

.restoMenu .menuChoix h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restoMenu .menuChoix .plat {
  margin-top: -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restoMenu .bordure {
  height: 5px;
  width: 60px;
  background: #99e2d0;
  margin-bottom: 10px;
  margin-top: -15px;
}

.restoMenu .menuPrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 9px;
  top: 0;
  padding-left: 0.5rem;
}

.restoMenu .menuPrix .prix {
  font-weight: 900;
  width: 50px;
}

.restoMenu .menuPrix .checkbox {
  background: #99e2d0;
  border-radius: 0 25px 25px 0;
  height: 87px;
  width: 1px;
  opacity: 0;
}

.restoMenu .menuPrix .checkbox .fa-solid {
  position: absolute;
  top: 30%;
  right: 15%;
  font-size: 2rem;
  color: white;
}

.restoMenu .menuChoix:hover .checkbox {
  opacity: 1;
  right: 0%;
  width: 70px;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.restoMenu .menuChoix:hover .menuPrix {
  right: 0%;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.restoMenu .menuChoix:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

@media (max-width: 1680px) {
  .restoMenu .menuChoix:hover .menuDescription {
    width: 60%;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
  }
}

@media (max-width: 1680px) and (max-width: 1413px) {
  .restoMenu .menuChoix:hover .menuDescription {
    width: 55%;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
  }
}

@media (max-width: 1680px) and (max-width: 435px) {
  .restoMenu .menuChoix:hover .menuDescription {
    width: 45%;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
  }
}

.order {
  height: 25vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: -45px;
}

.order .orderButton {
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background-image: linear-gradient(to top, #9356DC, #ff79DA);
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 2px 1px 15px -3px black;
          box-shadow: 2px 1px 15px -3px black;
  margin-top: 20px;
  cursor: pointer;
}

.order .orderButton:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0.9;
}
/*# sourceMappingURL=pageResto.css.map */