@import "../utils/mixin.scss";

.banniere img {
    width: 102%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    position: relative;
}

main h2{
    font-family: Shrikhand;
    position: relative;
    &::before {
        @include heart;
    }
    &::after {
        @include heart;
        @include gradient;
        opacity: 0;
        color: transparent;
        font-weight: 900;
    }
    &:hover::after {
        opacity: 1;
        transform: scale(1.06);
    }
    
}

.restoName {
    border-top:1px solid black;
    border-radius: 25px 25px 0 0;
    margin-top: -90px;
    background-color: lightgray;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.restoMenu {
    background: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: 881px) {
        grid-template-columns: 1fr;
    }
    .menuChoix {
        background: white;
        /*border: 1px solid black;*/
        border-radius: 25px 25px 25px 25px;
        @include box-shadow-base;
        position: relative;
        padding-left: 15px;
        padding-top: 1px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    p {
        margin-top: -15px;
    }
    .prix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 55%;
    right: 10%;
    position: absolute;
    font-weight: 900;
    }
    .checkbox {
        position: absolute;
        top: -1%;
        right: -13%;
        width: 60px;
        height: 93px;
        background: #99e2d0;
        border-radius: 0 25px 25px 0;
        opacity:0;
        i {
            display: flex;
            position: absolute;
            top: 35%;
            right:25%;
            font-size: 2rem;
            color:white;
        }
    }
    .menuChoix:hover .checkbox {
        opacity: 1;
        right: 0%;
        transition: all 1000ms;
    }
    .menuChoix:hover .prix {
        right:14%;
        transition: all 1000ms;
    }
    .menuChoix:hover i {
        transform: rotate(360deg);
        transition:all 1000ms;
    }
}
button {
    background-image: linear-gradient(to top, #9356DC, #ff79DA);
    color: white;
    font-weight:300;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 1rem;
    border: none;
    @include box-shadow-base;
    margin-top: 20px;
}