@import "../utils/mixin.scss";


.headerResto {
    position: relative;
    i {
        position: absolute;
        height: 2rem;
        width: 2rem;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color:black;
    }
}




.banniere img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    position: relative;
    @media (max-width:760px) {
        height: 45vh;
        }
}

    
    
    .restoName {
        border-radius: 25px 25px 0 0;
        margin-top: -90px;
        background-color: #f3f3f3;
        position: relative;
        
        padding-top: 10px;
        padding-bottom: 16px;
        width: 80%;
        left:10%;
        @media (max-width: 530px) {
            width:100%;
            left:0;
        }

        h2{
            margin-left: 15px;
            font-family: Shrikhand;
            position: relative;
            &::before {
                @include heart;
            }
            &::after {
                @include heart;
                @include gradient;
                opacity: 0;
                color: transparent;
                font-weight: 900;
            }
            &:hover::after {
                opacity: 1;
                transform: scale(1.06);
            }
            
        }
    }
    
    .restoMenu {
        
        background: #f3f3f3;
        display: grid;
        grid-template-columns: (repeat(3, 1fr));
        gap: 1rem;
        width: 80%;
        position: relative;
        left:10%;
        @media (max-width: 1320px) {
            grid-template-columns: 1fr;
            
        }
        @media (max-width: 530px) {
            position: relative;
            left:0;
            width: 100%;
        }
        
        .delay0 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 0s;
        }
        .delay1 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 0.5s;
        }
        .delay2 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 1s;
        }
        .delay3 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 1.5s;
        }
        .delay4 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 2s;
        }
        .delay5 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 2.5s;
        }
        .delay6 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 3s;
        }
        .delay7 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 3.5s;
        }
        .delay8 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 4s;
        }
        .delay9 {
            animation: menuAppear 1s;
            animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
            animation-fill-mode: both;
            animation-delay: 4.5s;
        }
        .menuGroupe {
            padding-left: 10px;
            padding-right: 10px;

        }
        .menuChoix {
            margin: 0;
            background: white;
            border-radius: 25px 25px 25px 25px;
            @include box-shadow-base;
            position: relative;
            padding-left: 15px;
            padding-top: 1px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            @media (max-width: 530px) {
                width: 95%;
            }
            @media (max-width: 410px) {
                width: 100%;
                left:-2%;
            }
            
            
            
            
            .menuDescription {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
                width: 80%;
                @media (max-width: 410px) {
                    width: 70%;
                }
                
                
                
            }
            h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .plat{
                margin-top:-20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .bordure {
            height: 5px;
            width: 60px;
            background: #99e2d0;
            margin-bottom: 10px;
            margin-top: -15px;
        }
        
        .menuPrix {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 9px;
            top: 0;
            padding-left:0.5rem;
            
            
            .prix {
                font-weight: 900;
                width:50px;
            }
            
            .checkbox {
                background: #99e2d0;
                border-radius: 0 25px 25px 0;
                height: 87px;
                width: 1px;
                opacity: 0;
                .fa-solid {
                    position: absolute;
                    top: 30%;
                    right:15%;
                    font-size: 2rem;
                    color:white;
                }
            }
        }
        .menuChoix:hover .checkbox {
            opacity: 1;
            right: 0%;
            width: 70px;
            transition: all 1000ms;
        }
        .menuChoix:hover .menuPrix {
            right:0%;
            transition: all 1000ms;
            
        }
        .menuChoix:hover i {
            transform: rotate(360deg);
            transition:all 1000ms;
        }
        @media (max-width: 1680px){
            .menuChoix:hover .menuDescription{
                width:60%;
                transition: all 1000ms;
            }
            @media (max-width: 1413px){
                .menuChoix:hover .menuDescription{
                    width:55%;
                    transition: all 1000ms;
                }
        }
        @media (max-width: 435px){
            .menuChoix:hover .menuDescription{
                width:45%;
                transition: all 1000ms;
            }
        }
    }
}
.order {
    height: 25vh;
    display: grid;
    place-items: center;
    margin-top: -45px;
    
    .orderButton {
        text-align: center;
        background-image: linear-gradient(to top, #9356DC, #ff79DA);
        color: white;
        font-weight:300;
        font-size: 1.5rem;
        border-radius: 30px;
        padding: 1rem;
        border: none;
        @include box-shadow-base;
        margin-top: 20px;
        cursor: pointer;
    }
    .orderButton:hover {
        @include transform-scale;
    }
}