@import "../utils/mixin.scss";

.banniere img {
    width: 102%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    position: relative;
}

main h2{
    font-family: Shrikhand;
    position: relative;
    &::before {
        @include heart;
    }
    &::after {
        @include heart;
        @include gradient;
        opacity: 0;
        color: transparent;
        font-weight: 900;
    }
    &:hover::after {
        opacity: 1;
        transform: scale(1.06);
    }
    
}

.restoName {
    border-top:1px solid black;
    border-radius: 25px 25px 0 0;
    margin-top: -92px;
    background-color: lightgray;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
